.nav {
    width: 100%;
    height: 70px;
    background: transparent;
    padding: 0 15px;
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0;
    background: var(--primary-color-1);
    z-index: 100;
}

.navMenu {
    display: flex;
    align-items: center;
    
}

.navMenuBrand {
    display: flex;
    align-items: flex-end;
    margin-right: 10px;
    text-decoration: none;
}

.navMenuBrand.active {
    cursor: default;
    user-select: none;
}

.navMenuBrand p {
    font-size: 25px;
    font-family: var(--primary-font);
    color: var(--primary-color-2);
    text-align: end;
    font-weight: 700;
}

.navMenuBrand .navMenuPoint {
    width: 8px;
    height: 8px;
    background: var(--secondary-color-1);
    border-radius: 50%;
    margin-bottom: 9px;
}

.navMenuItems{
    border-left: 2px solid var(--primary-color-2);
}

.navMenuItems .navMenuLink{
    font-size: 15px;
    color: var(--primary-color-2);
    font-family: var(--secondary-font);
    text-decoration: none;
    margin: 10px;

}

.navMenuItems .navMenuLink.active{
    font-weight: 600;
    text-decoration: line-through;
    user-select: none;
    cursor: default;
    pointer-events: none;
    color: var(--secondary-color-2);
}

.navUser{
    display: flex;
}


.navUser .userCart{
    height: 70px;
    width: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    text-decoration: none;
}

.navUser .userCart i{
    color: var(--primary-color-2);
    font-size: 20px;
}

.navUser .userCart .userCartNot{
    position: absolute;
    width: 20px;
    height: 20px;
    background: var(--secondary-color-2);
    border-radius: 50%;
    top: 0;
    right: 0;
    margin: 6px;
    font-size: 10px;
    color: var(--primary-color-2);
    font-family: var(--secondary-font);
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
}

.navUser .navUserProfile{
    height: 70px;
    width: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navUser i{
    color: var(--primary-color-2);
    font-size: 20px;
}