*, *::before, *::after {
    box-sizing: border-box;
}

*{
    margin: 0;
    padding: 0;
    font: inherit;
}

img, picture, svg, video{
    display: block;
    max-width: 100%;
}

input, textarea, button, select{
    font: inherit;
}

:root{
    --primary-font: 'Crimson Text', Verdana, Geneva, Tahoma, sans-serif;
    --secondary-font: 'Manrope', Verdana, Geneva, Tahoma, sans-serif;
    --primary-color-1: #000000;
    --primary-color-2: #ffffff;
    --secondary-color-1: #00ff00;
    --secondary-color-2: #ff00ff;
    --secondary-color-3: #00ffff;
    --secondary-color-4: #ffff00;
  
}

body{
    background: var(--primary-color-1);
}