*, *::before, *::after {
    box-sizing: border-box;
}

*{
    margin: 0;
    padding: 0;
    font: inherit;
}

img, picture, svg, video{
    display: block;
    max-width: 100%;
}

input, textarea, button, select{
    font: inherit;
}

:root{
    --primary-font: 'Crimson Text', Verdana, Geneva, Tahoma, sans-serif;
    --secondary-font: 'Manrope', Verdana, Geneva, Tahoma, sans-serif;
    --primary-color-1: #ffd1dc;
    --primary-color-2: #ff809f;
    --secondary-color-1: #9e6b97;
    --secondary-color-2: #946d9e;
    --secondary-color-3: #ffffff;
  
}

body{
    background: var(--primary-color-1);
}